In [1]:
import random
import pandas as pd
from faker import Faker

fake = Faker()

from datetime import datetime
start_date = datetime(2024, 12, 1)
end_date = datetime(2024, 12, 31)

categories = ['Groceries', 'Transport', 'Subscriptions', 'Bills', 'Shopping','Medicine','entertainment']
payment_modes = ['Credit Card', 'Debit Card', 'Cash', 'UPI']

category_descriptions = {
    'Medicine':['Digine','bandage','Antacid','Bitadine','Paracetamol'],
    'entertainment':['Movie','concert','Club','Games'],
    'Groceries': ['Rice 5 kg', 'Aatta 5kg', 'Sugar 2kg', 'Oil 5 lit', 'Milk 2 lit'],
    'Transport': ['taxi ride to', 'bus fare to', 'fuel at', 'train ticket to', 'ride-sharing to'],
    'Subscriptions': ['Netflix', 'Prime', 'audible', 'Hotstar', 'SonyLiv'],
    'Bills': ['electricity bill', 'water bill', 'internet bill', 'gas bill', 'phone bill'],
    'Shopping': ['clothes Myntra', 'electronics flipkart', 'gifts local', 'Shoes nike']
}

def gen_exp_data(num_entries):
    data = []
    for _ in range(num_entries):
        category = random.choice(categories)
        description_keyword = random.choice(category_descriptions[category])
        description = f"{description_keyword} {fake.company()}"
        payment_mode = random.choice(payment_modes)
        
        
        if payment_mode in ['Cash','Debit Card']:
            cashback = 0
        else:
            cashback = round(random.uniform(0, 5), 2)
        
        expense = {
            "Date": fake.date_between(start_date=start_date, end_date=end_date),
            "Category": category,
            "Payment Mode": payment_mode,
            "Description": description,
            "Amount": round(random.uniform(10, 1000), 2),
            "Cashback": cashback
        }
        data.append(expense)
    return pd.DataFrame(data)
data_exp = gen_exp_data(120)



print(data_exp)

data_exp.to_csv('dec_exp.csv')

           Date       Category Payment Mode  \
0    2024-12-22  entertainment  Credit Card
1    2024-12-11  entertainment          UPI
2    2024-12-15          Bills  Credit Card
3    2024-12-16  entertainment          UPI
4    2024-12-05       Medicine  Credit Card
..          ...            ...          ...
115  2024-12-02       Medicine  Credit Card
116  2024-12-25       Medicine   Debit Card
117  2024-12-03  Subscriptions          UPI
118  2024-12-30      Groceries         Cash
119  2024-12-30       Shopping          UPI

                             Description  Amount  Cashback
0                        Club Rhodes Inc  843.69      0.51
1                      Club Clark-Hayden  991.72      4.64
2           water bill Patterson-Mcgrath  272.50      2.82
3               concert Marquez and Sons   46.28      4.74
4                       bandage Howe LLC  531.52      1.52
..                                   ...     ...       ...
115               Paracetamol Palmer Inc  144.62      4.03
116              Digine Mcdonald-Sanders  562.18      0.00
117  Prime Graves, Bonilla and Contreras  386.80      2.66
118             Milk 2 lit Taylor-Graham  438.81      0.00
119    electronics flipkart Walker Group  736.72      1.74

[120 rows x 6 columns]

In [2]:
import mysql.connector

connection = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,  
    user="root",
    password="root"
)

if connection.is_connected():
    print("Connected MySQL")
else:
    print("Failed to connect")

Connected MySQL

In [3]:
cursor = connection.cursor()

In [6]:
cursor.execute('CREATE DATABASE IF NOT EXISTS Exp_track_db')
print("Database Created")

Database Created

In [7]:
cursor.execute("USE Exp_track_db")

In [14]:

create_table_query = """
CREATE TABLE IF NOT EXISTS Exp_table(
Date Date,
Category VARCHAR(50),
PaymentMode VARCHAR(50),
Description TEXT,
Amount DECIMAL(4, 1),
Cashback DECIMAL(2, 1)
)
"""

In [1]:
cursor.execute(create_table_query)

NameError: name 'cursor' is not defined